/* toolbox */

#tools, #poly_sub {
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
  text-align: center;
  overflow: hidden;
  font-size: 0;
  position: absolute;
}

#tools {
  width: 26px;
  left: 10px;
  top: 70px;
  z-index: 3;
  border-radius: 5px;
}

#tools li, #poly_sub li{
  display: inline-block;
  opacity: .5;
  width: 26px;
  padding: 5px 0px;
  margin: 0;
}

#tools li {
  border-bottom: 1px solid #999;
}

#tools li:hover, #poly_sub li:hover {
  opacity: 1;
}

#tools li:hover {
  border-bottom: 1px solid #ccc;
}

#tools li.last, #poly_sub li.last {
  border: 0;
}

#tools li.last:hover, #poly_sub li.last:hover {
  border: 0;
}

#tools li.selected {
  opacity: 1;
  border-bottom: 1px solid #ccc;
}

#tools li button, #poly_sub li button {
  border: none;
  padding: none;
  height: 16px;
  width: 16px;
  background-color: #fff;
  background-size: contain;
}

/* polygon submenu */

#poly_sub {
  height: 26px;
  left: 37px;
  top: 151px;
  z-index: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  visibility: hidden;
}

#poly_sub li{
  border-right: 1px solid #999;
}

#poly_sub li:hover {
  border-right: 1px solid #ccc;
}

/* spray area radius */

#spray_radius {
  height: 26px;
  left: 37px;
  top: 124px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
  text-align: center;
  overflow: hidden;
  z-index: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  visibility: hidden;
}

#spray_radius input {
  margin: 11px 5px;
	-webkit-appearance: none;
	background-color: #ccc;
	height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background: #999;
}

input[type="range"]::-webkit-slider-thumb:hover {
	background: #000;
}

/* points count input panel */

#input {
  display: block;
  text-align: center;
  width: 220px;
  left: calc(50% - 110px);
  bottom: 20px;
  height: 50px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
  vertical-align: middle;
  overflow: hidden;
  visibility: hidden;
  font-size: 12pt;
}

#input input {
  text-align: center;
}
