/* toolbox */

#menu_tools, #menu_polygon, #menu_delete, #menu_type {
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
  text-align: center;
  overflow: hidden;
  font-size: 0;
  position: absolute;
}

#menu_tools, #menu_type, #checkbox_wrap  {
  width: 26px;
  z-index: 3;
  border-radius: 5px;
}

#menu_tools {
  top: 70px;
  left: 10px;
}

#menu_tools li, #menu_polygon li, #menu_delete li, #menu_type li {
  display: inline-block;
  width: 26px;
  padding: 5px 0px;
  margin: 0;
}

#menu_tools li, #menu_type li {
  border-bottom: 1px solid #ccc;
}

#menu_tools li.last, #menu_polygon li.last, #menu_type li.last {
  border: 0;
}

#menu_tools li button, #menu_polygon li button,
#menu_delete li button, #menu_type li button {
  border: none;
  padding: none;
  height: 16px;
  width: 16px;
  opacity: .5;
  background-color: #fff;
  background-size: contain;
}

#menu_tools li.selected button, #menu_polygon li.selected button,
#menu_delete li.selected button, #menu_type li.selected button {
  opacity: 1;
}

#menu_tools li button:hover, #menu_polygon li button:hover,
#menu_delete li button:hover, #menu_type li button:hover {
  opacity: 1;
}

#menu_tools li button[disabled]:hover,
#menu_polygon li button[disabled]:hover,
#menu_type li button[disabled]:hover {
  opacity: 0.5;
}

/* polygon submenu */

#menu_polygon, #menu_delete {
  height: 26px;
  left: 37px;
  z-index: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  visibility: hidden;
}

#menu_polygon {
  top: 151px;
}

#menu_polygon li{
  border-right: 1px solid #ccc;
}

/* delete submenu */

#menu_delete {
  top: 205px;
}

/* select type of points */

#menu_type {
  top: 319px;
  left: 45px;
  visibility: hidden;
}

/* spray area radius */

#menu_spray, #wrap_checkbox {
  height: 26px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
  text-align: center;
  overflow: hidden;
  z-index: 1;
  /*visibility: hidden;*/
}

#menu_spray {
  left: 37px;
  top: 124px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#menu_spray input {
  margin: 11px 5px;
	-webkit-appearance: none;
	background-color: #ccc;
	height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background: #999;
}

input[type="range"]::-webkit-slider-thumb:hover {
	background: #000;
}

#wrap_checkbox {
  left: 10px;
  top: 321px;
}

#wrap_checkbox input {
  margin: 6px 5px;
	height: 15px;
	width: 15px;
}

#wrap_checkbox label {
  height: 16px;
  font-size: 12pt;
}

/* points count input panel */

#wrap_input {
  display: block;
  text-align: center;
  width: 220px;
  left: calc(50% - 110px);
  bottom: 20px;
  height: 50px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
  vertical-align: middle;
  overflow: hidden;
  visibility: hidden;
  font-size: 12pt;
}

#wrap_input input {
  text-align: center;
}
