body {
  margin: 0;
  padding:0;
  font-family: 'PT Sans', serif;
  font-size: 12pt;
  text-align: center;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

#cover, #error {
  position: absolute;
  top: 0;
  height: 50px;
  background: #fff;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 15px;
  text-align: center;
}

#cover {
  right: 0;
  width: 75px;
  line-height: 50px;
}

#error {
  left: 0;
  right: 0;
  border-right: 2px solid #000;
  border-bottom-right-radius: 15px;
  visibility: hidden;
  background: #fff;
  margin: 0 auto;
  line-height: 22px;
  width: 20%;
  min-width: 250px;
}

#cover a, #error a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

#cover a:hover, #error a:hover {
  opacity: 0.5;
}
