body {
  margin: 0;
  padding:0;
  font-family: 'PT Sans', serif;
  font-size: 12pt;
  text-align: center;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

#cover, #error {
  position: absolute;
  top: 0;
  height: 50px;
  background: #fff;
  border: none;
  border-bottom-left-radius: 5px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
  z-index: 2;
}

#cover {
  right: 0;
  width: 75px;
  line-height: 50px;
}

#error {
  left: calc(50% - 115px);
  border-bottom-right-radius: 5px;
  visibility: hidden;
  background: #fff;
  line-height: 22px;
  width: 230px;
}

#cover a, #error a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

#cover a:hover, #error a:hover {
  opacity: .5;
}
