body {
  margin: 0;
  padding:0;
  font-family: 'PT Sans', serif;
  font-size: 12pt;
}

#left {
  position: absolute;
  left: 0;
  top: 45%;
  width: 150px;
  text-align: center;
}

.label {
  display: inline-block;
  width: 90%;
}

#larrow, #rarrow, #time {
  margin: 0 3px;
}

#time {
  width: 25%;
  text-align: center;
}

#map {
  position: absolute;
  left: 150px;
  top: 0;
  bottom: 0;
  width: calc(100% - 152px);
  z-index: 0;
  border-left: 2px solid #0d1724;
}

#larrow, #rarrow {
  font-weight: bold;
  width: 20%;
}

#cover {
  position: absolute;
  top: 0;
  height: 50px;
  background: #e9e0d6;
  border-left: 2px solid #0d1724;
  border-bottom: 2px solid #0d1724;
  border-bottom-left-radius: 15px;
  text-align: center;
  right: 0;
  width: 75px;
  line-height: 50px;
}

#cover a {
  font-weight: bold;
  text-decoration: none;
  color: #0d1724;
}

#cover a:hover {
  color: #eb7260;
}

#hide {
  left: 162px;
  top: 70px;
  width: 26px;
  height: 26px;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  font-weight: bold;
}
